/* #nav_container {
    width: auto;
    height: 60px;
    display:flex;
    align-items: center ;
    background-color: #101111;
    overflow: hidden; 
} */

#items-container div {
    display:block;
    float:left;
}
#logo {
    margin-left:30px;
    margin-right:70px;
    align-items: baseline;
    width:150px;
}

#nav_container {
    z-index: 999;
}

#menu-icon{
    display:none;
}

@media screen and (max-width: 768px) {
    CoreIconButton {
        display: none;
    }
}