#main-container {
    display: inline-block;
    position: relative;
    width: "100%";
    z-index: 995;
}

#body {
    overflow: hidden;
}

/* #nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:1;
} */